<h3 class="page-header">About the Jolly Rogers</h3>
<div class="row">
    <div class="col-md-8">
      <h3>Stations</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Date</th>
            <th>Station</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>15 Apr 1942</td>
            <td>Key Field, Miss</td>
          </tr>
          <tr>
            <td>17 May 1942</td>
            <td>Barksdale Field, La</td>
          </tr>
          <tr>
            <td>21 Jun 1942</td>
            <td>Greenville AAB, SC</td>
          </tr>
          <tr>
            <td>18 Aug 1942</td>
            <td>Ypsilante, Mich</td>
          </tr>
          <tr>
            <td>12 Sep 1942</td>
            <td>Hickam Field, TH</td>
          </tr>
          <tr>
            <td>Nov 1942</td>
            <td>Iron Range, Australia</td>
          </tr>
          <tr>
            <td>10 Feb 1943</td>
            <td>Port Moresby, New Guinea</td>
          </tr>
          <tr>
            <td>Dec 1943</td>
            <td>Dobodura, New Guinea</td>
          </tr>
          <tr>
            <td>23 Feb 1944</td>
            <td>Nadzab, New Guinea</td>
          </tr>
          <tr>
            <td>10 Aug 1944</td>
            <td>Biak</td>
          </tr>
          <tr>
            <td>26 Jan 1945</td>
            <td>San Jose, Mindoro</td>
          </tr>
          <tr>
            <td>10 Aug 1945</td>
            <td>Ie Shima</td>
          </tr>
          <tr>
            <td>Dec 1945</td>
            <td>Ft William McKinley, Luzon</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <h3>Squadrons</h3>
      <div class="well">
        <ul class="unstyled">
          <li>319th</li>
          <li>320th</li>
          <li>321st</li>
          <li>400th</li>
        </ul>
      </div>

      <h3>Commanders</h3>

    </div>

  </div>