<p class="asterperious" data-sprite="asterperious">
  <strong>319th</strong>
</p>
<p class="whale-tail" data-sprite="whale-tail">
  <strong>320th</strong>
</p>
<p class="bombs-away" data-sprite="bombs-away">
  <strong>321st</strong>
</p>
<p class="black-pirates highlight" data-sprite="black-pirates">
  <strong>400th</strong>
</p>