<h3 class="page-header">History of the Jolly Rogers</h3>
<div class="row-fluid">
    <div class="col-xs-12">
      <%= image_tag('history1.jpg', class: 'col-xs-6 pull-right') %>
      <h4>Summary</h4>
      <p>
        From September 1942 to January 1946, American newspapers and magazines swooned over the most colorful of all B-24 outfits, the Jolly Rogers.
        Less celebrated Liberator units complained about the Jolly Rogers, citing the reason for fame as thier name and insignia. However, no other heavy bomber unit shot down more enemy aircraft than the 90th.
      </p>
      <br>
      <h4>Beginnings</h4>
      <p>
        The 90th Bomb Group was established in early 1942 as a medium bomb group. They were initially trained in the southeastern United States with B-26 Marauders, later B-25 Mitchells.
      </p>
      <p>
        Redesignated in August 1942 as a B-24 Liberator heavy bomb group, the 90th was reassigned to Willow Run Airport, Michigan for conversion training on newly manufactured Ford Liberators. That September, the unit was reassigned to the Honolulu modification center at Hickam Field, Hawaii. During the following two months the group trained on long overwater navigation and other necessities for operating in the Pacific.
      </p>
      <br>
      <h4>Combat</h4>
      <p>
        They began arriving in Brisbane, Australia in November of 1942, and  began combat operations immediately. They shot down their first enemy aircraft on November 15, 1942, while the ground crews were still underway, somewhere off of the coast of Fiji.
      </p>
      <p>
        The following March, on a routine mission, Lt. Higgins spotted a japanese convoy, heading towards Lae. This sparked the Battle of Bismark Sea, which resulted in a major defeat for the Japanese.
      </p>
      <%= image_tag('history2.png', class: 'col-xs-6 pull-left', style: 'padding-left: 0px' ) %>
      <br>
      <h4>Shock</h4>
      <p>
        On June 23rd, Capt. Olsen and his crew were killed when a Japanese float plane intentionally rammed his aircraft. The right wing was sheared off in the collision. Kamikazis were seen frequently as the war progressed, however this was the first encounter with a suicide attack. At the time of his death, Captian Olsen was one of the most distinguished pilots in the 90th. The loss of the “Pelly-Can” had a great impact on the group.
      </p>
      <br>
      <h4>Survival</h4>
      <p>
        There is the incredible story of the crash of “Little Eve”. Staff Sergeant Grady Gaston and three others, bailed out over a remote part of the Austrailian wildernes. Walking along the rugged northern coast of Australia, in search of civilization, only Gaston survived. His ordeal lasting 141 days, with little more than a knife.
      </p>
      <br>
      <%= image_tag('history3.png', class: 'pull-right col-xs-6') %>
    </div>
  </div>
