<h3 class="page-header">History of the Jolly Rogers</h3>
<div class="row-fluid">
    <div class="span12">
      <p>
        <span class="pull-right">
          <img alt="History1" class="black-and-white top" src="/assets/history1.png">
        </span>
        No group of fliers sence the Flying Tigers of China has ever emerged from the war with greater glory than the world famous Liberator unit… the Jolly Rogers. Month after month, since September 1942, American newspapers and magazines have brimmed over with colorful stories about this most colorful of all B-24 outfits.
      </p>
      <p>
        Less celebrated Liberator units have complained that acclaim fell to the Jolly Rogers because of thier fascinating name and twin-tail insignia - a huge skull surmounting twin crossed bombs. However, no single heavy bomber unit in the Air Corps show dowm more enemy aircraft than the the 90th.
      </p>
      <p>
        They began arriving in Brisbane, Australia in November of 1942, and subsequently began combat operations immediately. They shot down their first enemy aircraft on November 15, 1942, while the ground echelon was still underway, somewhere off of the coast of Fiji.
      </p>
        <br>
        <span class="pull-left">
          <img alt="History2" class="black-and-white" src="/assets/history2.png">
        </span>
      <p>
        In Febuary, all units of the Jolly Rogers with the exception of one were stationed at Port Moresby, New Guinea.  Shortly afterwards the enemy launched an Air Raid on Moresby, one of the largest since Pearl Harbor. On March 1st, Lt. Higgins spotted a convoy heading twards Lae, This sparked the Bismark Sea battle, which resulted in the deaths of 15,000 troops, 22 ships, and 54 enemy planes, while losing only 5 allied planes.
      </p>
      <p>
        On June 23rd, Capt. Olsen and his crew were killed by a a Japanese float plane that intentionally rammed his aircraft, shearing off the right wing. Later in the war kamikazis were seen frequently, however this was thier first encounter with a suicide attack. Captian Olsen was one of the most distinguished pilots in the 90th at the time of his death, and the loss of the “Pelly-Can” had a great impact on the group.
      </p>
        <span class="pull-right">
          <img alt="History3" class="black-and-white" src="/assets/history3.png">
        </span>
        <br>
      <p>
        Then there is the incredible story of the crash of “Little Eve”. Staff Sergeant Grady Gaston and three others, bailed out over a remote part of the Austrailian wildernes. Walking along the coast in search of civilization, only Gaston survived, for 141 days, with little more than a knife.
      </p>
    </div>
  </div>