<div class="jumbotron home">
  <h1 class="centered bell">JOLLY ROGERS</h1>
  <br>
  <p class="lead legothic centered">BEST DAMN HEAVY</p>
  <p class="lead legothic centered">BOMB GROUP in the WORLD</p>
</div>