<div class="jumbotron home">
  <h1 class="centered BellMT-SC">JOLLY ROGERS</h1>
  <br>
  <p class="lead LegothicURW-Lig centered">BEST DAMN HEAVY</p>
  <p class="lead LegothicURW-Lig centered">BOMB GROUP in the WORLD</p>
</div>