<h3 class="page-header">The B-24 Liberator</h3>
<div class="row-fluid">
    <div class="span12">
        <p>
          <img alt="B24outline" class="pull-right" src="/assets/b24outline.jpg">
        <strong>The Consolidated B-24 Liberator</strong> was an American heavy bomber, designed by Consolidated Aircraft of San Diego, California. It was known within the company as the Model 32, and a small number of early models were sold under the name LB-30, for Land Bomber. The B-24 was used in World War II by several Allied air forces and navies, and by every branch of the American armed forces during the war, attaining a distinguished war record with its operations in the Western European, Pacific, Mediterranean, and China-Burma-India Theaters.
        </p>
        <p>
        The Consolidated B-24 Liberator was an American heavy bomber, designed by Consolidated Aircraft of San Diego, California. It was known within the company as the Model 32, and a small number of early models were sold under the name LB-30, for Land Bomber. The B-24 was used in World War II by several Allied air forces and navies, and by every branch of the American armed forces during the war, attaining a distinguished war record with its operations in the Western European, Pacific, Mediterranean, and China-Burma-India Theaters.
      </p>
      <p>
        The B-24 ended World War II as the most produced heavy bomber in history. At over 18,400 units, half by Ford Motor Company, it still holds the distinction as the <strong>most-produced American military aircraft...</strong>
      </p>
      <br>
      <img alt="B24sketch" class="pull-left" src="/assets/b24sketch.png" style="padding-top: 20px">
      <h4>Development</h4>
      <p>
        The Liberator originated from a United States Army Air Corps (USAAC) request in 1938 for Consolidated to produce the B-17 under license... Consolidated decided instead to submit a <strong>more modern design</strong> of its own.
      </p>
      <h4>Specifications</h4>
      <p>The new Model 32 combined the Davis wing, a high efficiency airfoil design created by unorthodox means by a lone inventor named David Davis,[8] the twin tail design from the Consolidated Model 31 flying boat, and mated both together on a new fuselage. This new fuselage was intentionally designed around the twin bomb bays, each one being the same size and capacity of the B-17...
      </p>
      <p>
      The program was run under the umbrella group running “Project A”, an Air Corps requirement for an intercontinental bomber that had been conceived in the mid-1930s. Although the B-24 did not meet Project A goals, it was a step in that direction. Project A led to the development of the Boeing B-29 and Consolidated's own B-32 and B-36.
      </p>
      <img alt="B24top" class="pull-right" src="/assets/b24top.png">
      <h4>Contract</h4>
      <p>
        The contract for a prototype was awarded in March 1939... Compared to the B-17, the proposed Model 32 had a shorter fuselage and 25% less wing area, but had a 6 ft (1.8 m) greater wingspan and a <strong>substantially larger carrying capacity</strong>, as well as a distinctive twin tail. Whereas the B-17 used 9-cylinder Wright R-1820 Cyclone engines, the Consolidated design used twin-row, 14-cylinder Pratt &amp; Whitney R-1830 “Twin Wasp” radials of 1,000 hp (746 kW)...
      </p>
      <img alt="B24detail" class="pull-right" src="/assets/b24detail.png">
      <h4>Design</h4>
      <p>
        The B-24's spacious, slab-sided fuselage (which earned the aircraft the nickname “Flying Boxcar”) was built around a central bomb bay that could accommodate up to 8,000 lb (3,629 kg) of ordnance in each of its forward and aft compartments. The equal-capacity forward and aft bomb bay compartments were further split longitudinally with a centerline ventral catwalk just nine inches (23 cm) wide, which also functioned as the fuselage's structural keel beam...The B-24 was <strong>sometimes disparaged as “The Flying Coffin”</strong> because the only entry and exit from the bomber was in the rear...
      </p>
  </div>
</div>