<h3 class="page-header">About the Jolly Rogers</h3>
<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      {{#link-to 'squadrons.319' tagName='li'}}<a href="#">319th</a>{{/link-to}}
      {{#link-to 'squadrons.320' tagName='li'}}<a href="#">320th</a>{{/link-to}}
      {{#link-to 'squadrons.321' tagName='li'}}<a href="#">321st</a>{{/link-to}}
      {{#link-to 'squadrons.400' tagName='li'}}<a href="#">400th</a>{{/link-to}}
    </ul>
  </div>

  <div class="col-md-10">
    {{outlet}}
  </div>
</div>