<h3 class="page-header">Jolly Rogers' Stories</h3>
<div class="row-fluid">
    <div class="author cell">
      <h3>
        Lt. Wiley Woods's diary <a href="http://lcweb2.loc.gov/diglib/vhp/story/loc.natlib.afc2001001.05895/enlarge?ID=pm0001001&amp;page=2&amp;size=1024"><i class="icon-leaf"></i></a>
        <br>
        <small>
          Navigator
        </small>
      </h3>
      <span class="span12">
        <p class="span6">
          Sunday: Alerted this morning for shipment overseas. Supposed to leave by air at 2330. Spent most of day packing and sending winter clothes home.
        </p>
        <img alt="Wileywoods" class="offset2 span3 author-image" src="/assets/wileywoods.jpg">
      </span>
      <a href="#" class="btn ">read more</a>
    </div>
    <div class="author cell">
      <h3>
        Cpl. Anthony Cerelli's diary <a href="http://www.jollyrogersweb.com/crewDetail.asp?pilotID=2059&amp;crew=Lloyd"><i class="icon-leaf"></i></a>
        <br>
        <small>
          Gunner
        </small>
      </h3>
      <span class="span12">
        <p class="span6">
          MISSION 1
Wewak, New Giunea 10-21-44
We took off 11:15 loaded with 8x1000 bombs and our target was Jap personnel, ammo, and gas dumps. Arrived at the target at 1:15 and made a beautiful run dropping all bombs in the target area causing large fires and explosions. Ran into very light ack ack but no planes came our way. It was a very dull mission but at least we started out ok. We landed fine and had chow and headed for the sack.

Time 4:20
Miles 800
Points 1
        </p>
        <img alt="Anthonycerelli" class="offset2 span3 author-image" src="/assets/anthonycerelli.jpg">
      </span>
      <a href="#" class="btn ">read more</a>
    </div>
    <div class="author cell">
      <h3>
        Lt. Merle Winne's diary <a href="http://90thbombgroup.org/Diary.htm"><i class="icon-leaf"></i></a>
        <br>
        <small>
          Pilot
        </small>
      </h3>
      <span class="span12">
        <p class="span6">
          Left the USA from Fairfield California about 2200 to fly to John Rodgers Airfield on Oahu Island, Hawaii. Finley and I flew the airplane on C-1 all night long while Dietz navigated. A marvelous job. We saw the sun come up the following morning and hit Oahu Island on the nose. Arrived at John Rodgers about 1030 L.C. T. They fed us a wonderful Thanksgiving meal and we hit the sack to rest for two days. (Time 13:15)
        </p>
        <img alt="Merlewinne" class="offset2 span3 author-image" src="/assets/merlewinne.jpg">
      </span>
      <a href="#" class="btn ">read more</a>
    </div>
  </div>