@import "bootstrap";

.one-sixth-width {
  width: 16.667%;
}

.badge-content {
  height: 220px;
  width: 220px;
  background-image: url(asset_path('BadgeSprite.png'));
  background-repeat: no-repeat;
}

.badge-content.asterperious {
  background-position: -220px -220px;
}

.badge-content.whale-tail {
  background-position: 0px -220px;
}

.badge-content.bombs-away {
  background-position: -220px 0px;
}

.badge-content.black-pirates {
  background-position: 0px 0px;
}

.badge-content p.highlight {
  color: white;
}

.BellMT-SC {
  font-family: BellMT-SC;
  font-weight: normal;
  font-style: normal;
}

.centered {
  text-align: center;
}

.full-width {
  width: 100%;
}

.home.jumbotron {
  color: #eee;
  // background: url(asset_path("JollyRogerLeft.png")) 5% 60% no-repeat,
  //   url(asset_path("JollyRogerRight.png")) 95% 61% no-repeat;
    // url(asset_path("JumbotronTexture.png"));
  background-color: #222;
}

.LegothicURW-Lig, .page-header, h3, h4 {
  font-family: LegothicURW-Lig;
  font-weight: normal;
  font-style: normal;
  // text-transform: uppercase;
}

.no-left-padding {
  padding-left: 0px;
}

.well.dark {
  background-color: #222;
  color: #CCC;
}