/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

// html, body {
//   background-image: url(asset_path('bg.png'));
//   background-repeat: no-repeat;
//   background-position: bottom left;
//   background-attachment: fixed;
// }

.one-sixth-width {
  width: 16.667%;
}

.centered {
  text-align: center;
}

.LegothicURW-Lig, .page-header, h3, h4 {
  font-family: LegothicURW-Lig;
  font-weight: normal;
  font-style: normal;
  // text-transform: uppercase;
}

.BellMT-SC {
  font-family: BellMT-SC;
  font-weight: normal;
  font-style: normal;
}

.full-width {
  width: 100%;
}

.home.jumbotron {
  color: #eee;
  // background: url(asset_path("JollyRogerLeft.png")) 5% 60% no-repeat,
  //   url(asset_path("JollyRogerRight.png")) 95% 61% no-repeat;
    // url(asset_path("JumbotronTexture.png"));
  background-color: #222;
}

.no-left-padding {
  padding-left: 0px;
}